 html body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #151923;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #151923;
  color: lightgray;
  font-size: 1.5rem;
}

.Heading {
  color: #66fcf1;

  padding-top: 20px;
  padding-bottom: 20px;
}

.DateTime {
  color: lightgray;
  border: solid, 2px;
  border-color: #45a29f;
  padding-top: 10px;
}

.Today {
  color: #45a29f;
  border: solid, 2px;
  border-color: #45a29f;
  padding-top: 10px;
}

.TimeDifference {
  border: solid, 2px;
  border-color: #45a29f;
  color: #66fcf1;
  font-size: 1.8rem;
  padding-top: 10px;
}